= simple_form_for snippet do |f|
  = f.error_notification

  %fieldset
    = f.input :key, disabled: true
    = f.input :key, as: :hidden
    = f.input :value, input_html: { class: 'markdown-editor' }

  %fieldset.buttons
    = f.button :submit
