= simple_form_for snippet do |f|
  = f.error_notification

  %fieldset
    = f.input :key, disabled: true
    = f.input :key, as: :hidden
    = f.input :value, input_html: { class: 'markdown-editor' }

  %fieldset.buttons
    = f.button :submit

%h2= t('.cache_records.title')
= simple_format t('.cache_records.blurb')

%ul
  - @snippet.view_cache_records.each do |cache_key|
    %li= cache_key
