%h1= t('.heading')

%section.snippets-index
  %table
    %thead
      %tr
        %th= t('.table.key')
        %th= t('.table.value')
        %th= t('.table.actions')

      %tr
        %td
        %td
        %td

    %tbody
      - @snippets.each do |snippet|
        %tr
          %td= snippet.key
          %td= truncate(snippet.value, length: 80)
          %td
            - if snippet.persisted?
              = link_to t('.actions.edit'),
                edit_snippet_path(snippet), class: 'button'

              = link_to t('.actions.reset'),
                snippet_path(snippet),
                class: 'button',
                method: :delete,
                data: { confirm: t('.actions.confirm') }
            - else
              = link_to t('.actions.edit'),
                new_snippet_path(key: snippet.key, value: snippet.value),
                class: 'button'

  = paginate @snippets
