%h1= t('.heading')

%section.snippets-index
  %table
    %thead
      %tr
        %th= t('.key')
        %th= t('.value')
        %th= t('.actions')

    %tbody
      - @snippets.each do |snippet|
        %tr
          %td= snippet.key
          %td= snippet.value
          %td
            - if snippet.persisted?
              = link_to t(:edit), edit_admin_snippet_path(snippet), class: %w(btn btn-default btn-xs)
              = link_to t(:reset), [:admin, snippet], class: %w(btn btn-danger btn-xs), method: :delete, data: { confirm: t(:confirm) }
            - else
              = link_to t(:edit), new_admin_snippet_path(key: snippet.key, value: snippet.value), class: %w(btn btn-default btn-xs)

  = paginate @snippets
